:root {
  --glow-rad: 0.125em;
  --glow-col: #fff;
}

html {
  background-color: #222;
  color: #ddd;
  text-shadow: 0 0 var(--glow-rad) var(--glow-col);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

#controls {
  height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}